<!-- <p>p-add works!</p> -->
<form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">Product ID</label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="Enter Product ID"  required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Name</label>
        <input type="text" class="form-control" id="validationDefault02" placeholder="Product Name"  required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Color</label>
        <input type="text" class="form-control" id="validationDefault02" placeholder="Color Name"  required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Weight</label>
        <input type="text" class="form-control" id="validationDefault02" placeholder="Weight in Grams"  required>
      </div>
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Availability</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">True</option>
    <option value="2">False</option>
    <!-- <option value="3">Three</option> -->
  </select>
      
    </div>
    
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>