
<nav class="menu menu-1">
  <ul>
    
    <li><a routerLink="phome">PMS</a></li>
    <li><a routerLink="plist">List</a></li>
    <li><a routerLink="padd">Add</a></li>
    <li><a routerLink="pdetails">Details</a></li>
    <li><a routerLink="pupdate">Update</a></li>
    <li><a routerLink="pdelete">Delete</a></li>
  </ul>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="phome">Product</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="plist">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="padd">Add New</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="pdetails">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pupdate">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pdelete">Delete</a>
        </li>
     
    </ul>
   
    
  </div>
</nav> -->





<router-outlet/>